.langs {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ru,
.en {
  font-size: 20px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.ru:hover,
.en:hover {
  background: rgb(226, 224, 222);
}

.active {
  transform: scale(1.3);
}